<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
添加用户
<form action="/agt/add" method="post" enctype="multipart/form-data">
    <p>图片上传</p>
    <img src="http://localhost:8080/image/1_1565839765091.jpg" alt="" id="icon" width="50px" height="50px"/>
    <img src="http://localhost:8080/image/1_1565839765091.jpg" alt="" id="icon" width="50px" height="50px"/>
    <img src="http://localhost/image/网关.png" alt="" id="icon" width="50px" height="50px"/>
    <img src="http://localhost/image/网关1.png" alt="" id="icon" width="50px" height="50px"/>
    选择文件:<input type="file" name="cardIdfile">
    选择文件:<input type="file" name="certenfile">
    <input name="agtName">
    <input name="agtLoginName">


    <input type="submit" value="上传">
</form>
</body>
</html>